.markdown-renderer {
  p, ul {
    margin-top: 8px;
  }

  h2, h3, h4 {
    margin-top: 18px;
  }

  hr {
    margin-top: 24px;
  }

  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    background-color: $color-purple-lighter;
    border: 1px solid $color-purple;
    border-radius: 4px;

    span {
      font-family: Menlo, Monaco, "Courier New", monospace;
    }
  }
}
