$small-device-breakpoint: 800px;

.article-screen-container {
  width: 80%;
  margin: auto;

  @media (max-width: $small-device-breakpoint) {
    // switch to verticle format on small devices (image on top of text rather than besides)
    width: 90%;
  }
  margin-top: 24px;
}

.article-section-container {
  margin-top: 24px;
}

.article-paragraph-container {
  margin-top: 12px;
}
