$small-device-breakpoint: 800px;

.article-screen-container {
  width: 80%;
  margin: auto;

  @media (max-width: $small-device-breakpoint) {
    // switch to verticle format on small devices (image on top of text rather than besides)
    width: 90%;
  }
  margin-top: 24px;
}

.article-section-container {
  margin-top: 24px;
}

.article-paragraph-container {
  margin-top: 12px;
}

.go-back-container {
  display: flex;
  align-items: center;
  a {
    padding: 0;
    margin-left: 6px;
    text-decoration: underline;
  }
}

.purple {
  color: $color-purple
}

.article-title {
  margin-top: 12px;
}

.article-sub-section {
  h3 {
    margin-top: 24px;
  }

  .article-subsection-paragraph {
    margin-top: 12px;
  }

  .links-container {
    margin-top: 12px;
  }
}