.article-screen-container {
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 24px;
}

.article-section-container {
  margin-top: 24px;
}

.article-paragraph-container {
  margin-top: 12px;
}