.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 36px;
  padding-top: 12px;
}

.heading-text {
  font-weight: 600;
  
  a {
    color: black;
    text-decoration: none;
    border-radius: 12px;
    &:hover {
      color: $color-purple;
      cursor: pointer;
    }
  }

}

.sub-text {
  font-weight: 300;
}

.hover-text {
  font-weight: 300;
}

.icon-container {
  align-self: center;

  .icon-aligner {
    display: flex;
    justify-content: flex-end;
  }

  .icon-background {
    margin-right: 24px;
    width: 36px;
    height: 36px;
    border-radius: 12px;
    display: flex;
    // padding: 12px;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-purple-light;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }

    .icon {
      display: inline-block;
    }
  }
}

.hover-text-container {
  justify-content: flex-end;
  display: flex;
  height: 22px;
  align-items: center;

  .hover-text {
    margin-right: 6px;
  }
}

