// absolute hack, without this then vscode intellisense
// will not display the color picker lol 123
.------------d0-n0t-use { opacity: 100%; }

$color-blue: rgb(35, 147, 188);

$color-purple: rgb(201, 147, 255);
$color-purple-light: rgb(229, 203, 255);
$color-purple-lighter: rgb(243, 229, 255);

$color-grey-light: rgb(245, 245, 245);
