.site-footer-container {
  margin-top: 48px;
  display: flex;
  flex: 1;
  min-height: 96px;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}