.section-container {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;

  .title-container {
    flex: 2;
  }

  .body-container {
    flex: 8;

    .info-panel-container {
      display: flex;
      flex: 1;

      margin-top: 48px;
      &:first-child {
        margin-top: 0;
      }

      .img-container {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 84px;
        }
      }

      .info-panel-text-container {
        flex: 8;

        p {
          margin-top: 12px;
          &:first-child {
            margin-top: 0;
          }
        }
      }

      .links-container {
        margin-top: 12px;
        
        a {
          text-decoration: underline;
          color: black;
  
          &:hover {
            color: rebeccapurple;
            cursor: pointer;
          }
        }
      }

    }
  }
}
