$vertical-layout-breakpoint: 800px;

.section-container {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;

  .title-container {
    flex: 2;
  }

  .body-container {
    flex: 8;

    .info-panel-container {
      display: flex;
      flex: 1;

      @media (max-width: $vertical-layout-breakpoint) {
        // switch to verticle format on small devices (image on top of text rather than besides)
        flex-direction: column;
      }

      margin-top: 48px;
      &:first-child {
        margin-top: 0;

        @media (max-width: $vertical-layout-breakpoint) {
          // on small devices, we need extra space between "section title" and "first info panel"
          margin-top: 24px;
        }
      }

      .img-container {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 84px;
        }
      }

      .info-panel-text-container {
        flex: 8;

        p {
          margin-top: 12px;
          &:first-child {
            margin-top: 0;
          }
        }
      }

      .links-container {
        margin-top: 12px;
      }

    }
  }

  @media (max-width: $vertical-layout-breakpoint) {
    // switch to verticle format on small devices
    flex-direction: column;
  }
}

